        * {
            margin: 0px;
            padding: 0px;
        }
        
        body {
            background-image: linear-gradient(to right #d8c0ab, #decdb9);
            font-size: 20px;
            font-family: Nunito;
        }
        
        #main {
            /*background-color: green;*/
        }
        
        #title {
            text-align: center;
            padding: 20px 20px 0px 20px;
        }
        
        #img-div {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        
        #img-caption {
            padding: 10px;
        }
        
        #image {
            margin: 50px 100px 50px 100px;
            max-width: 100%;
            width: 70%;
            display: block;
            margin: 0px auto;
        }
        
        #tribute-info {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 70%;
            margin: 0px auto;
        }
        
        #tribute-info h2 {
            padding: 10px;
        }
        
        #tribute-info ul {
            list-style-type: none;
            padding: 30px 100px 50px 100px;
        }
        
        #tribute-info ul li {
            margin: 20px;
        }
        
        #Quote {
            padding: 0px 300px;
        }
        
        #learn-more {
            padding: 10px;
        }
        
        @media(max-width:600px) {
            body {
                font-size: 14px;
            }
            #main {
                width: 100vw;
            }
            #tribute-info {
                margin: 0px;
                padding: 0px;
                width: inherit;
            }
            #tribute-info ul {
                margin: 0px;
                padding: 0px;
            }
            #Quote {
                margin: 0px;
                padding: 0px;
            }
        }